<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Tricle Lite</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      </head>
  <body>
    <div class="container">


    <h1>Welcome</h1>


    <form id='form' enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div id="token" style="display:none">{{ csrf_token}}</div>
        <div class="form-group"><input type="text" name="key_one" maxlength="256" class="form-control" title="" required placeholder="Enter your first key" id="id_key_one" /></div>
        <div class="form-group"><input type="text" name="key_two" maxlength="256" class="form-control" title="" required placeholder="Enter your second key" id="id_key_two" /></div>
        <div class="form-group"><input type="text" name="key_three" maxlength="256" class="form-control" title="" required placeholder="Enter your third key" id="id_key_three" /></div>
        <div class="form-group"><label class="control-label" for="id_mode">Mode</label>
          <select name="mode" id="id_mode" class="form-control regDropDown" title="">
          <option value="Scramble">Scramble</option>
          <option value="Unscramble">Unscramble</option>
          </select>
        </div>
        <div style="margin-top: 0px; margin-bottom:20px;">

        <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse&hellip; <input id="red" type="file" accept="image/*" style="display: none;" name="images" class="" title="" required multiple id="id_images">
                    </span>
                </label>
                <input type="text" class="form-control" readonly>
            </div>

          </div>

        <input id="submit" class="btn btn-success btn-block btn-lg" type="submit" name="" value="Start">
      </form>
      <button class="btn btn-info btn-block btn-lg" name="button">Download</button>
      <button class="btn btn-info btn-block btn-lg" name="button">Done</button>

  </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <script src="static/scripts/main.js"></script>
  <script src="{% static "scripts/jack.js" %}"></script>

</html>
